@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #A3A8D4;
    --white: #F4F4F4;
    --padding: 3rem 6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}