.match {
    box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 24px;

    .match-background {
        border-radius: .5rem .5rem 0 0;
    }

    .match-data {
        border-radius: .5rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: .8rem 1rem;

        .match-game {
            color: var(--dark-gray);
        }

        .match-date {
            margin-top: .5rem;
        }
        
        .match-date, .match-participants, .match-format {
            display: flex;
            gap: .5rem;

            img {
                max-width: 15px;
            }

            span {
                color: var(--dark-gray);
                font-size: .8rem;
            }
        }
    }
}