.base-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    position: relative;

    .header-title {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        gap: 5rem;

        li a {
            color: var(--white);
            font-weight: 500;
            font-size: 1rem;
        }
    }

    svg {
        max-width: 2rem;
    }
}

.burger-nav {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 350px;
    padding: 1rem 2rem;
    background-color: var(--black);
    z-index: 999;

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li a {
            font-size: 1.2rem;
            color: var(--white);
        }
    }

    .account-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1.5rem;

        a {
            color: var(--light-gray);
        }

        .account-details--login {
            color: var(--white);
        }

        .account-pp {
            max-width: 50px;
            border-radius: 50%;
        }

        .burger-nav--close {
            margin-left: auto;
            max-width: 20px;
            cursor: pointer;
        }
    }
}