#loginpage {
    height: 100vh !important;
    overflow: hidden;
    background: var(--white);
    color: var(--black);
    padding: 5rem 8rem;
    background: url('../assets/register-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
    overflow: hidden;
    height: 100%;

    .login-form {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        max-width: 40%;

        label {
            font-weight: 500;
            font-size: 1.2rem;
        }

        #loginbtn {
            margin-top: 2rem;
            background: var(--black);
            color: var(--white);
            border: none;
            border-radius: 5px;
            padding: .5rem 0;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    h1 {
        margin-top: 2rem;
        font-size: 3.5rem;
    }
}